body{
  font-family: sans-serif;
  background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  height: 100vh;
  color: #1f2f33;
}

.filters{
  margin-top: 50px;
}

.filters ul {
  padding: 0;
}

.filters ul li{
  list-style: none;
  display: block;
  padding: 15px 0;
  cursor: pointer;
  position: relative;
  font-size: 17px;
  font-weight: 500;
  color:#1f2f33;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.filters ul li.active,
.filters ul li:hover{
  color: #dd8532;
}

.filters-content{
  margin-top: 50px;
}

.filters-content .show{
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}

.filters-content .hide{
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}


.filters-content .all{
  margin-bottom: 30px;
}

.filters-content .item{
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filters-content .item:hover{
  opacity: 0.75;
}

.filters-content .item img{
  width: 100%;
  border: 4px solid #f9f9fb;
}

#projects{
  padding-top: 120px;
}

#projects .section-heading{
  margin-bottom: 60px;
}

#projects .section-heading h6{
  color: #dd8532;
}


